<!--The content below is only a placeholder and can be replaced.-->

  <section class="hero">
    <div class="container">
      <div class="row">

        <div class="col-4 offset-1">

          <div class="cardbox shadow-lg bg-white">

            <div class="cardbox-heading">
              <!-- START dropdown-->
              <div class="dropdown float-right">
                <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
                  <em class="fa fa-ellipsis-h"></em>
                </button>
                <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"
                  style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Hide post</a>
                  <a class="dropdown-item" href="#">Stop following</a>
                  <a class="dropdown-item" href="#">Report</a>
                </div>
              </div>
              <!--/ dropdown -->
              <div class="media m-0">
                
              </div>
              <!--/ media -->
            </div>
            <!--/ cardbox-heading -->

            <div class="cardbox-item">
              <img class="img-fluid" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/1.jpg"
                alt="Image">
            </div>
            <!--/ cardbox-item -->
            <div class="cardbox-base">
              <ul class="float-right">
                <li><a><i class="fa fa-comments"></i></a></li>
                <li><a><em class="mr-5">12</em></a></li>
                <li><a><i class="fa fa-share-alt"></i></a></li>
                <li><a><em class="mr-3">03</em></a></li>
              </ul>
              <ul>
                <li><a><i class="fa fa-thumbs-up"></i></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a><span>242 Likes</span></a></li>
              </ul>
            </div>
          

          </div>

        </div>
        <div class="col-4 offset-2">

          <div class="cardbox shadow-lg bg-white">

            <div class="cardbox-heading">
              <!-- START dropdown-->
              <div class="dropdown float-right">
                <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
                  <em class="fa fa-ellipsis-h"></em>
                </button>
                <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"
                  style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                  <a class="dropdown-item" href="#">Hide post</a>
                  <a class="dropdown-item" href="#">Stop following</a>
                  <a class="dropdown-item" href="#">Report</a>
                </div>
              </div>
              <!--/ dropdown -->
              <div class="media m-0">
                
              </div>
              <!--/ media -->
            </div>
            <!--/ cardbox-heading -->

            <div class="cardbox-item">
              <img class="img-fluid" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/1.jpg"
                alt="Image">
            </div>
            <!--/ cardbox-item -->
            <div class="cardbox-base">
              <ul class="float-right">
                <li><a><i class="fa fa-comments"></i></a></li>
                <li><a><em class="mr-5">12</em></a></li>
                <li><a><i class="fa fa-share-alt"></i></a></li>
                <li><a><em class="mr-3">03</em></a></li>
              </ul>
              <ul>
                <li><a><i class="fa fa-thumbs-up"></i></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a href="#"><img src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg"
                      class="img-fluid rounded-circle" alt="User"></a></li>
                <li><a><span>242 Likes</span></a></li>
              </ul>
            </div>
          

          </div>

        </div>
       
       

      </div>
    </div>
  </section>
