
.card-headion-title{

    font-family: 'Libre Caslon Text', serif;
    justify-content: center;
    text-align: center;
    font-variant: revert;
    font-size: large;
    color: #505555;
    padding: 0.5em;

}


.center{
     display: block;
  margin-left: auto;
  margin-right: auto;
}