<div [ngClass]="{'mat-elevation-z9': hover,'mat-elevation-z3': !hover}"  (mouseout)="hover=false" (mouseover)="hover=true" (click)="voteEmitter()"
  class="cardbox  bg-white ">

  <div class="cardbox-heading">

    <!--/ dropdown -->
    <div class=" card-headion-title">
      {{ cat.name | uppercase  }} 
    </div>
    <!--/ media -->
  </div>
  <!--/ cardbox-heading -->

  <div class="cardbox-item">
    <img class="img-fluid center" [src]="cat.url" alt="Image">
  </div>
  <!--/ cardbox-item -->
  <div class="cardbox-base">



  </div>
